<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>AgroConnect Cabuyao Website</title>
        <link
            href="https://fonts.cdnfonts.com/css/century-gothic"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Livvic:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.bootstrap_4.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/home.css" />
        <link rel="preload" href="components/Header.js" as="script" />
    </head>
    <style></style>
    <body>
        <header class="header-container notranslate">
            <!-- Your header content or component -->
        </header>
        <main class="main-content mx-5">
            <div class="d-flex justify-content-end mt-2">
                <div id="google_translate_element"></div>
            </div>
            <section>
                <div class="container-fluid mx-auto cont py-5">
                    <div
                        class="row d-flex align-items-center justify-content-between"
                    >
                        <!-- Left Column -->
                        <div
                            class="col-md-5 text-md-start order-md-1 order-2 mt-5 mt-lg-0"
                        >
                            <div
                                class="d-flex flex-column justify-content-center align-items-center align-items-md-start"
                            >
                                <span class="m-0 p-0" style="line-height: 0%">
                                    <strong data-key="messages.original_natural"
                                        >Original & Natural</strong
                                    >
                                </span>
                                <img
                                    width="150px"
                                    src="img/underline1.webp"
                                    alt="Underline"
                                    class="img-fluid m-0 p-0"
                                />
                            </div>
                            <div
                                class="d-flex align-items-center justify-content-center justify-content-md-start"
                            >
                                <h1
                                    id="header1"
                                    class="text-md-start text-center"
                                >
                                    Masaganang Agricultura
                                    <img
                                        src="img/header1.webp"
                                        alt="Header Image"
                                        class="responsive-image"
                                    />
                                </h1>
                            </div>

                            <h1 id="header2" class="text-md-start text-center">
                                Maunlad na Ekonomiya
                            </h1>
                            <br />
                            <div class="paragraph text-md-start">
                                <p data-key="messages.sub_heading_1">
                                    AgroConnect Cabuyao provides tools to
                                    monitor crop production and prices, keeping
                                    farmers and technicians informed.
                                </p>
                            </div>
                            <a
                                href="#about"
                                class="btn btn-custom d-inline-flex align-items-center justify-content-center w-100"
                            >
                                <i class="fas fa-info-circle me-2"></i>
                                <span data-key="messages.learn_more">
                                    Learn More
                                </span>
                            </a>
                        </div>

                        <!-- Right Column -->
                        <div
                            class="col-md-6 d-flex justify-content-center order-md-2 order-1"
                        >
                            <div>
                                <img
                                    src="img/CAO-1.webp"
                                    alt="Cabuyao Agriculture Office"
                                    class="img-fluid"
                                    style="
                                        filter: drop-shadow(5px 5px 10px #555);
                                    "
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="about">
                <div class="container-fluid">
                    <div
                        class="row d-flex align-items-center justify-content-between"
                    >
                        <!-- Left Column: Image -->
                        <div class="col-md-5 text-center">
                            <div>
                                <img
                                    src="img/CAO-2.webp"
                                    alt="AgroConnect Logo"
                                    class="img-fluid"
                                    style="
                                        filter: drop-shadow(5px 5px 10px #555);
                                    "
                                    ;
                                />
                            </div>
                        </div>

                        <!-- Right Column: Text Content -->
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="paragraph text-md-start text-justify">
                                <p data-key="messages.about_1">
                                    <strong>AgroConnect Cabuyao</strong> is an
                                    agriculture information system designed to
                                    assist the City Agriculture Office in making
                                    informed decisions regarding crop selection
                                    and planting.
                                </p>
                                <p data-key="messages.about_2">
                                    It serves as a comprehensive tool for
                                    storing, analyzing, and generating data to
                                    identify trends and optimal crops for each
                                    season. By leveraging data-driven insights,
                                    it empowers officials to conduct in-depth
                                    analysis considering various factors.
                                </p>
                                <p data-key="messages.about_3">
                                    Additionally, the system incorporates
                                    features like soil health monitoring and
                                    weather forecasting to enhance crop
                                    management practices. Furthermore, it
                                    provides a feedback mechanism allowing
                                    agriculturists and other stakeholders to
                                    share suggestions and concerns.
                                </p>
                            </div>
                            <a
                                href="#features"
                                class="btn btn-custom d-inline-flex align-items-center justify-content-center"
                            >
                                <i class="fas fa-info-circle me-2"></i>
                                <span data-key="messages.view_features"
                                    >View Features</span
                                >
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="features">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <a href="#section-trends" class="text-decoration-none">
                            <div class="card border shadow-lg h-100">
                                <div
                                    class="card-body text-center"
                                    style="padding: 30px"
                                >
                                    <i
                                        class="fas fa-chart-line fa-3x mb-3 text-dark"
                                        style="display: block; margin: auto"
                                    ></i>
                                    <h5
                                        class="card-title text-dark"
                                        style="
                                            margin-top: 20px;
                                            font-weight: bold;
                                        "
                                    >
                                        Seasonal Trends
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <a href="#section-crops" class="text-decoration-none">
                            <div class="card border shadow-lg h-100">
                                <div
                                    class="card-body text-center"
                                    style="padding: 30px"
                                >
                                    <i
                                        class="fas fa-seedling fa-3x mb-3 text-dark"
                                        style="display: block; margin: auto"
                                    ></i>
                                    <h5
                                        class="card-title text-dark"
                                        style="
                                            margin-top: 20px;
                                            font-weight: bold;
                                        "
                                    >
                                        Seasonal Top Crops
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <a href="#section-soil" class="text-decoration-none">
                            <div class="card border shadow-lg h-100">
                                <div
                                    class="card-body text-center"
                                    style="padding: 30px"
                                >
                                    <i
                                        class="fas fa-leaf fa-3x mb-3 text-dark"
                                        style="display: block; margin: auto"
                                    ></i>
                                    <h5
                                        class="card-title text-dark"
                                        style="
                                            margin-top: 20px;
                                            font-weight: bold;
                                        "
                                    >
                                        Soil Health Monitoring
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <a href="#section-weather" class="text-decoration-none">
                            <div class="card border shadow-lg h-100">
                                <div
                                    class="card-body text-center"
                                    style="padding: 30px"
                                >
                                    <i
                                        class="fas fa-cloud-sun fa-3x mb-3 text-dark"
                                        style="display: block; margin: auto"
                                    ></i>
                                    <h5
                                        class="card-title text-dark"
                                        style="
                                            margin-top: 20px;
                                            font-weight: bold;
                                        "
                                    >
                                        Weather Forecast
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <a href="#section-map" class="text-decoration-none">
                            <div class="card border shadow-lg h-100">
                                <div
                                    class="card-body text-center"
                                    style="padding: 30px"
                                >
                                    <i
                                        class="fas fa-map-marked-alt fa-3x mb-3 text-dark"
                                        style="display: block; margin: auto"
                                    ></i>
                                    <h5
                                        class="card-title text-dark"
                                        style="
                                            margin-top: 20px;
                                            font-weight: bold;
                                        "
                                    >
                                        Geospatial Map Trends
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <a
                            href="#section-feedback"
                            class="text-decoration-none"
                        >
                            <div class="card border shadow-lg h-100">
                                <div
                                    class="card-body text-center"
                                    style="padding: 30px"
                                >
                                    <i
                                        class="fas fa-comments fa-3x mb-3 text-dark"
                                        style="display: block; margin: auto"
                                    ></i>
                                    <h5
                                        class="card-title text-dark"
                                        style="
                                            margin-top: 20px;
                                            font-weight: bold;
                                        "
                                    >
                                        Feedback
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <section id="section-trends">
                <div class="container-fluid">
                    <div
                        class="row d-flex align-items-center justify-content-between"
                    >
                        <div class="col-md-6 mt-4 mt-md-0 order-md-1 order-2">
                            <div class="paragraph text-md-start text-center">
                                <h4>
                                    <em>Seasonal Trends</em>
                                </h4>
                                <p data-key="messages.seasonal_trends">
                                    This feature analyzes trends such as crop
                                    yield performance, pest and disease
                                    occurrence, crop prices, production volume,
                                    cost volume, sales volume, and income from
                                    prices.
                                </p>
                            </div>
                            <a
                                href="/seasonal-trends"
                                class="btn btn-custom d-inline-flex align-items-center justify-content-center"
                            >
                                <i class="fas fa-info-circle me-2"></i>
                                <span data-key="messages.view_more"
                                    >View More</span
                                >
                            </a>
                        </div>
                        <div class="col-md-5 text-center order-md-2 order-1">
                            <div class="icon-container">
                                <i
                                    class="fas fa-chart-line fa-5x text-success"
                                    style="margin: 0"
                                ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-crops">
                <div class="container-fluid">
                    <div
                        class="row d-flex align-items-center justify-content-between"
                    >
                        <div class="col-md-5 text-center">
                            <div class="icon-container">
                                <i
                                    class="fas fa-seedling fa-5x text-success"
                                    style="margin: 0"
                                ></i>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="paragraph text-md-start text-center">
                                <h4>
                                    <em>Seasonal Top Crops</em>
                                </h4>
                                <p data-key="messages.top_crops">
                                    This feature identifies appropriate crops
                                    with favorable value by analyzing data from
                                    past seasons.
                                </p>
                            </div>
                            <a
                                href="/top-crops"
                                class="btn btn-custom d-inline-flex align-items-center justify-content-center"
                            >
                                <i class="fas fa-info-circle me-2"></i>
                                <span data-key="messages.view_more"
                                    >View More</span
                                >
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-soil">
                <div class="container-fluid mt-4">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="card text-center w-100">
                                <div class="card-body">
                                    <h2>
                                        <strong>
                                            <em>Soil Health Monitoring</em>
                                        </strong>
                                    </h2>
                                    <p
                                        class="mt-4"
                                        data-key="messages.soil_description"
                                    >
                                        This feature empowers agriculturalists
                                        to oversee soil nutrient levels and pH
                                        for farmers, allowing them to provide
                                        feedback and suggestions for ongoing
                                        soil health monitoring.
                                    </p>
                                    <h4 class="mt-5">
                                        <em
                                            data-key="messages.soil_summary_title"
                                        >
                                            Summary of Soil Health in Cabuyao,
                                            Laguna:
                                        </em>
                                    </h4>

                                    <div class="row mt-4">
                                        <div
                                            class="col-12 col-md-6 col-lg-4 mb-3"
                                        >
                                            <div
                                                class="soil-metric-card p-3 bg-light rounded shadow-sm"
                                            >
                                                <strong
                                                    data-key="messages.soil_ph_title"
                                                    >pH Level:</strong
                                                >
                                                <p
                                                    class="mt-2"
                                                    data-key="messages.soil_ph_description"
                                                >
                                                    Measures the acidity or
                                                    alkalinity of the soil.
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="col-12 col-md-6 col-lg-4 mb-3"
                                        >
                                            <div
                                                class="soil-metric-card p-3 bg-light rounded shadow-sm"
                                            >
                                                <strong
                                                    data-key="messages.soil_nitrogen_title"
                                                    >Nitrogen Content:</strong
                                                >
                                                <p
                                                    class="mt-2"
                                                    data-key="messages.soil_nitrogen_description"
                                                >
                                                    Amount of nitrogen present
                                                    in the soil, crucial for
                                                    plant growth.
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="col-12 col-md-6 col-lg-4 mb-3"
                                        >
                                            <div
                                                class="soil-metric-card p-3 bg-light rounded shadow-sm"
                                            >
                                                <strong
                                                    data-key="messages.soil_phosphorus_title"
                                                    >Phosphorus Content:</strong
                                                >
                                                <p
                                                    class="mt-2"
                                                    data-key="messages.soil_phosphorus_description"
                                                >
                                                    Essential nutrient for root
                                                    development and overall
                                                    plant health.
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="col-12 col-md-6 col-lg-4 mb-3"
                                        >
                                            <div
                                                class="soil-metric-card p-3 bg-light rounded shadow-sm"
                                            >
                                                <strong
                                                    data-key="messages.soil_potassium_title"
                                                    >Potassium Content:</strong
                                                >
                                                <p
                                                    class="mt-2"
                                                    data-key="messages.soil_potassium_description"
                                                >
                                                    Important for regulating
                                                    water use and improving
                                                    disease resistance.
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="col-12 col-md-6 col-lg-4 mb-3"
                                        >
                                            <div
                                                class="soil-metric-card p-3 bg-light rounded shadow-sm"
                                            >
                                                <strong
                                                    data-key="messages.soil_organic_matter_title"
                                                    >Organic Matter:</strong
                                                >
                                                <p
                                                    class="mt-2"
                                                    data-key="messages.soil_organic_matter_description"
                                                >
                                                    Indicator of soil fertility
                                                    and health.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <a
                                        href="/soil-health"
                                        class="btn btn-custom btn-soil-health mt-5 mb-5"
                                    >
                                        <i class="fas fa-info-circle me-2"></i>
                                        <span data-key="messages.view_more"
                                            >View More</span
                                        >
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <script>
                // Ensure all soil-metric-card elements are the same height
                window.addEventListener("DOMContentLoaded", () => {
                    const cards =
                        document.querySelectorAll(".soil-metric-card");
                    let maxHeight = 0;

                    // Calculate the largest height
                    cards.forEach((card) => {
                        const cardHeight = card.offsetHeight;
                        if (cardHeight > maxHeight) {
                            maxHeight = cardHeight;
                        }
                    });

                    // Apply the largest height to all cards
                    cards.forEach((card) => {
                        card.style.height = `${maxHeight}px`;
                    });
                });
            </script>

            <section id="section-weather">
                <div class="container-fluid py-5">
                    <div class="row d-flex align-items-center">
                        <!-- Icon Section -->
                        <div class="col-md-5 text-center">
                            <div class="icon-container">
                                <i
                                    class="fas fa-cloud-sun fa-5x text-success"
                                    style="margin: 0"
                                ></i>
                            </div>
                        </div>

                        <!-- Content Section -->
                        <div class="col-md-6 offset-md-1 mt-4 mt-md-0">
                            <div
                                class="content-section text-md-start text-center"
                            >
                                <h4 class="mb-3">
                                    <em>Weather Forecast</em>
                                </h4>
                                <p
                                    class="mb-4"
                                    data-key="messages.weather_description"
                                >
                                    This feature provides a 5-day weather
                                    forecast to assist farmers in planning.
                                </p>

                                <div class="key-metrics">
                                    <h5 class="mb-3">
                                        <em
                                            data-key="messages.weather_key_metrics_title"
                                            >Key Weather Metrics:</em
                                        >
                                    </h5>
                                    <ul class="list-unstyled">
                                        <li
                                            class="mb-2"
                                            data-key="messages.weather_temperature"
                                        >
                                            <strong>Temperature:</strong>
                                            Provides current and forecasted
                                            temperatures for effective planning.
                                        </li>
                                        <li
                                            class="mb-2"
                                            data-key="messages.weather_precipitation"
                                        >
                                            <strong>Precipitation:</strong>
                                            Insights into rainfall patterns to
                                            help manage irrigation and crop
                                            protection.
                                        </li>
                                        <li
                                            class="mb-2"
                                            data-key="messages.weather_humidity"
                                        >
                                            <strong>Humidity:</strong> Assists
                                            in monitoring conditions that affect
                                            crop health and pest prevalence.
                                        </li>
                                        <li
                                            class="mb-2"
                                            data-key="messages.weather_wind_speed"
                                        >
                                            <strong>Wind Speed:</strong>
                                            Information on wind conditions
                                            relevant for planting and harvesting
                                            decisions.
                                        </li>
                                    </ul>
                                </div>

                                <a
                                    href="/weather-forecast"
                                    class="btn btn-custom mt-4 d-inline-flex align-items-center justify-content-center"
                                >
                                    <i class="fas fa-info-circle me-2"></i>
                                    <span data-key="messages.view_more"
                                        >View More</span
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-map">
                <div class="container-fluid">
                    <div
                        class="row d-flex align-items-center justify-content-between"
                    >
                        <!-- Content Section -->
                        <div class="col-md-6 mt-4 mt-md-0 order-md-1 order-2">
                            <div
                                class="content-section text-md-start text-center"
                            >
                                <h4 class="mb-3">
                                    <em>Geospatial Map Trends</em>
                                </h4>
                                <p
                                    class="mb-4"
                                    data-key="messages.map_description"
                                >
                                    This feature provides a barangay-level map
                                    view to analyze trends such as crop yield
                                    performance, pest and disease occurrences,
                                    crop prices, production volume, cost volume,
                                    sales volume, and income from prices.
                                    Presented in a geospatial format, it aids in
                                    efficient resource allocation and
                                    decision-making.
                                </p>

                                <div class="key-metrics">
                                    <h5 class="mb-3">
                                        <em
                                            data-key="messages.map_key_metrics_title"
                                            >Map Trends Overview:</em
                                        >
                                    </h5>
                                    <ul class="list-unstyled">
                                        <li
                                            class="mb-2"
                                            data-key="messages.map_land_use"
                                        >
                                            <strong
                                                >Crop Yield Performance:</strong
                                            >
                                            Visual representation of crop yields
                                            per barangay, helping identify high
                                            and low-performing areas.
                                        </li>
                                        <li
                                            class="mb-2"
                                            data-key="messages.map_crop_distribution"
                                        >
                                            <strong>Crop Distribution:</strong>
                                            Insights into where different crops
                                            are grown and their yields.
                                        </li>
                                        <li
                                            class="mb-2"
                                            data-key="messages.map_environmental_factors"
                                        >
                                            <strong
                                                >Pest and Disease
                                                Occurrences:</strong
                                            >
                                            Pinpoints affected areas to focus
                                            resources on pest management and
                                            disease control.
                                        </li>
                                        <li
                                            class="mb-2"
                                            data-key="messages.map_historical_data"
                                        >
                                            <strong
                                                >Resource Allocation:
                                            </strong>
                                            Identifies areas in need of support,
                                            such as fertilizers, irrigation, or
                                            pest control, ensuring resources are
                                            distributed effectively across
                                            barangays
                                        </li>
                                    </ul>
                                </div>

                                <a
                                    href="/map-trends"
                                    class="btn btn-custom mt-4 d-inline-flex align-items-center justify-content-center"
                                >
                                    <i class="fas fa-info-circle me-2"></i>
                                    <span data-key="messages.view_more"
                                        >View More</span
                                    >
                                </a>
                            </div>
                        </div>
                        <!-- Icon Section -->
                        <div class="col-md-5 text-center order-md-2 order-1">
                            <div class="icon-container">
                                <i
                                    class="fas fa-map-marked fa-5x text-success"
                                    style="margin: 0"
                                ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-feedback">
                <div class="container-fluid mt-4">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="card text-center w-100">
                                <div class="card-body">
                                    <h2>
                                        <strong><em>Contact Us</em></strong>
                                    </h2>
                                    <p
                                        class="mt-4"
                                        data-key="messages.feedback_description"
                                    >
                                        The contact feature allows users to
                                        submit their insights and suggestions
                                        for continuous improvement of the
                                        AgroConnect system. It encourages
                                        communication and engagement between
                                        users and the development team.
                                    </p>
                                    <h4 class="mt-5">
                                        <em
                                            data-key="messages.feedback_features_title"
                                            >Contact Us Features:</em
                                        >
                                    </h4>

                                    <div class="row mt-4">
                                        <div
                                            class="col-12 col-md-6 col-lg-4 mb-3"
                                        >
                                            <div
                                                class="feedback-card p-3 bg-light rounded shadow-sm"
                                            >
                                                <strong
                                                    data-key="messages.feedback_submit_title"
                                                    >Submit Feedback:</strong
                                                >
                                                <p
                                                    class="mt-2"
                                                    data-key="messages.feedback_submit_description"
                                                >
                                                    Easy-to-use form for users
                                                    to provide their comments
                                                    and suggestions.
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="col-12 col-md-6 col-lg-4 mb-3"
                                        >
                                            <div
                                                class="feedback-card p-3 bg-light rounded shadow-sm"
                                            >
                                                <strong
                                                    data-key="messages.feedback_track_title"
                                                    >Track Feedback:</strong
                                                >
                                                <p
                                                    class="mt-2"
                                                    data-key="messages.feedback_track_description"
                                                >
                                                    View the status of submitted
                                                    feedback and any responses.
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="col-12 col-md-6 col-lg-4 mb-3"
                                        >
                                            <div
                                                class="feedback-card p-3 bg-light rounded shadow-sm"
                                            >
                                                <strong
                                                    data-key="messages.feedback_engage_title"
                                                    >Engage with Users:</strong
                                                >
                                                <p
                                                    class="mt-2"
                                                    data-key="messages.feedback_engage_description"
                                                >
                                                    Facilitate ongoing
                                                    communication between the
                                                    AgroConnect team and its
                                                    users.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <a
                                        href="/contact-us"
                                        class="btn btn-custom btn-feedback mt-5 mb-5"
                                    >
                                        <i class="fas fa-info-circle me-2"></i>
                                        <span data-key="messages.view_more"
                                            >View More</span
                                        >
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <script>
                // Ensure all soil-metric-card elements are the same height
                window.addEventListener("DOMContentLoaded", () => {
                    const cards = document.querySelectorAll(".feedback-card");
                    let maxHeight = 0;

                    // Calculate the largest height
                    cards.forEach((card) => {
                        const cardHeight = card.offsetHeight;
                        if (cardHeight > maxHeight) {
                            maxHeight = cardHeight;
                        }
                    });

                    // Apply the largest height to all cards
                    cards.forEach((card) => {
                        card.style.height = `${maxHeight}px`;
                    });
                });
            </script>
        </main>

        <footer class="footer-container notranslate">
            <!-- Your footer content or component -->
        </footer>

        <!-- Ensure jQuery is included first -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/widgets/widget-storage.min.js"></script>
        <script src="components/Header.js"></script>
        <script type="module" src="components/Footer.js"></script>
    </body>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {
                    pageLanguage: "en", // The original page language (English)
                    includedLanguages: "en,tl", // Include only English and Filipino
                    layout: google.translate.TranslateElement.InlineLayout
                        .SIMPLE, // Use simple dropdown layout
                    autoDisplay: false, // Optional: prevent automatic display of the translation toolbar
                },
                "google_translate_element"
            );
        }
    </script>

    <script
        type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
</html>
