<!DOCTYPE html>
<html lang="en-US">
    <body>
        <h1>My Web Page</h1>

        <p>Hello everybody!</p>

        <p>Translate this page:</p>
        <p id="test"></p>
        <button id="btn">Click</button>

        <div id="google_translate_element"></div>

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                    {
                        pageLanguage: "tl", // The original page language (English)
                        includedLanguages: "en,tl", // Include only English and Filipino
                        layout: google.translate.TranslateElement.InlineLayout
                            .SIMPLE, // Use simple dropdown layout
                        autoDisplay: false, // Optional: prevent automatic display of the translation toolbar
                    },
                    "google_translate_element"
                );
            }
        </script>

        <script
            type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
        ></script>

        <p>
            You can translate the content of this page by selecting a language
            in the select box.
        </p>
    </body>
    <script>
        let p = document.getElementById("test");
        let btn = document.getElementById("btn");
        btn.onclick = () => {
            p.innerText = "Hello World";
        };
    </script>
</html>
