@import url('../../css/bookman-old-style.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
    --font-size-base: 16px; /* Default Base font size */
    --font-size-small: calc(var(--font-size-base) / 1.333); /* Small */
    --font-size-medium: calc(var(--font-size-base) * 1.333); /* Medium */
    --font-size-large: calc(var(--font-size-medium) * 1.333); /* Large */
    --font-size-xlarge: calc(var(--font-size-large) * 1.333); /* Extra Large */
    --color-text: #375534; /* Text color */
    --color-background: #f5f5f5; /* Background color */
    --color-primary: #008d00; /* Primary color */
    --color-secondary: #baa863; /* Secondary color */
    --color-accent: #e0de6d; /* Accent color */
    --color-card: #dbf4cd;
}

/* Small screens (phones) */
@media (max-width: 480px) {
    :root {
        --font-size-base: 12px;
    }

    .btn-custom:not(.btn-contact) {
        width: 100% !important;
    }

    .btn-custom[href="/seasonal-trends"], 
    .btn-custom[href="/top-crops"] {
        width: 80% !important;
        margin-bottom: 2rem !important;
    }    

    .cont {
        margin: 0 !important;
        margin-top: 2rem !important;
    }

    .y-trend {
        height: 250px !important;
    }

    .input-group {
        width: 100% !important;
        margin-top: 10px;
    }

    #maintenance-option {
        width: 120% !important;
    }
}

/* Medium screens (tablets) */
@media (min-width: 481px) and (max-width: 768px) {
    :root {
        --font-size-base: 13px;
    }

    .btn-custom:not(.btn-contact) {
        width: 100% !important;
    }

    .btn-custom[href="/seasonal-trends"], 
    .btn-custom[href="/top-crops"] {
        width: 80% !important;
        margin-bottom: 2rem !important;
    }    

    .cont {
        margin: 0 !important;
        margin-top: 2rem !important;
    }

    .input-group {
        width: 100% !important;
        margin-top: 10px;
    }

    #maintenance-option {
        width: 120% !important;
    }
}

/* Large screens (desktops) */
@media (min-width: 769px) {
    :root {
        --font-size-base: 14px;
    }

    .btn-custom:not(.btn-contact):not(form .btn-custom) {
        width: 30% !important;
    }
}

/* Extra-large screens (large desktops) */
@media (min-width: 1200px) {
    :root {
        --font-size-base: 16px;
    }
}

body {
    font-size: var(--font-size-base);
    line-height: 1.5; /* Adjust line height for readability */
}

.small {
    font-size: var(--font-size-small);
}

.medium-s {
    font-size: var(--font-size-medium);
}

.large {
    font-size: var(--font-size-large);
}

.xlarge {
    font-size: var(--font-size-xlarge);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

option {
    color: #000 !important;
    background-color: #fff !important;
}

body {
    background-color: var(--color-background);
    
}

.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.content-wrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden; /* Ensure that only content scrolls */
}

.content {
    flex-grow: 1;
    overflow-y: auto; /* Make the content area scrollable */
    padding: 20px;
}
.header {
    background-color: #008000;
    color: white;
    text-align: center;
}

.header-logo {
    z-index: 1;
    height: 60px; /* Adjust logo height */
    margin-left: 20px;
}

.sidebar-logo {
    z-index: 1;
    height: 60px; /* Adjust logo height */
    margin-left: 20px;
}

.username {
    margin-right: 10px; /* Space between username and user icon */
}
.user-icon {
    width: 40px; /* Adjust user icon size */
    height: 40px; /* Adjust user icon size */
    border-radius: 50%; /* Rounded shape */
    background-color: black; /* Icon background color */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white; /* Icon color */
  }
  
  .fa-user {
    font-size: 25px;
  }

  #appName {
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .container-fluid {
    height: 100%;
}

.nav-link {
    color: white; /* Link text color */
}

.nav-link:hover,.nav-link:focus, .nav-link.active {
    color: var(--color-accent) !important;
    text-decoration: none; /* Remove underline on hover */
}

.logout {
    margin-top: 20vh;
    padding-left: 5px;
}

.form-control {
    background-color: #D9D9D9;
    padding-left: 20px;
}

.form-control:not(input[type="text"]):not(textarea):not(input[type="file"]):not(input[type="password"]):not(input[type="number"]) {
    padding-left: 20px;
    background-color: var(--color-primary) !important;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.form-select {
    padding: 3px;
    background-color: var(--color-primary );
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

.btn-custom {
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary);
    border-radius: 3px;
    color: white;
    font-weight: 600;
}

.btn-green {
    background-color: var(--color-primary);
    color: white;
    font-weight: 600;
}

.btn-green {
    background-color: var(--color-primary) !important;
}

.back-button, .resolve-button {
    background-color: var(--color-primary) !important;
}

.content-wrapper {
    background-color: var(--color-background);
}

#titleId {
    background-color: var(--color-primary) !important;
    padding: 1.3rem 0;
}

.table-custom tbody tr:nth-child(odd) {
    background-color: #D6DEE9;
  }
  
.table-custom tbody tr:nth-child(even) {
    background-color: #A7BEE0;
 }

 .tablesorter-bootstrap th {
    background-color: var(--color-secondary) !important;
    color: #000 !important;
  }

  /* Add this CSS for highlighting the selected row */
.selected-row {
    background-color: #B1BA4D !important; /* Light blue background */
  }

.input-group {
    width: 25%;
}

tr {
    cursor: pointer;
}

#maintenance-option {
    width: 120%;
    border-radius: 15px;
}

#entries-option {
    width: 220%;
    border-radius: 15px;
}

#productionTableBody {
    width: 50%;
}

.input-group .input-group-text {
    cursor: pointer;
}

.table-custom {
font-size: 1rem; /* Adjust the font size if needed */
}

.table-responsive {
 overflow: auto;
}

.table-responsive::-webkit-scrollbar {
width: 12px;
height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
background-color: #2774E9;
border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

.table thead th {
    vertical-align: middle;
}

.table-custom td {
    vertical-align: middle; /* Center text vertically */
}

  /* Ensure sorting icons are visible and styled */
  .tablesorter-headerAsc .tablesorter-header-inner::after {
    content: '\25B2'; /* Upward arrow character */
    font-size: 0.8em;
    margin-left: 5px;
  }

  .tablesorter-headerDesc .tablesorter-header-inner::after {
    content: '\25BC'; /* Downward arrow character */
    font-size: 0.8em;
    margin-left: 5px;
  }

  .toast-success-custom {
    background-color: #2774E9; /* Green color for success */
    color: #ffffff; /* White text color */
}

thead tr {
    background-color: var(--color-secondary) !important;
    color: #000 !important;
}

.cta-btn {
    background-color: var(--color-secondary) !important;
    color: #000 !important;
}

.cta-btn:hover {
    background-color: var(--color-primary) !important; /* Change to your preferred color */
    color: #fff !important; /* Change to your preferred hover text color */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

select option:disabled {
    display: none;
}

.sidebar {
    background-color: var(--color-text);
    padding: 15px;
    flex-shrink: 0; /* Prevent the sidebar from shrinking */
    z-index: 1000;
    transition: transform 0.3s ease;
}

/* Full-screen sidebar on small screens */
@media (max-width: 767px) {
    #sidebar {
        width: 100%;
        height: 100vh; /* Full viewport height */
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
    }
    #sidebar.show {
        transform: translateX(0);
    }
    .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .actionBtn {
        margin-top: 3em !important;
    }
}

/* Ensure the sidebar is always visible on larger screens */
@media (min-width: 768px) {
    #sidebar {
        transform: translateX(0); /* Always show on larger screens */
        display: block;
    }
}


.chart-container {
    position: relative;
    width: 100%;
    height: auto;
}

.form-group {
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-control {
    width: 100%;
    max-width: 100%;
}

@media (max-width: 767.98px) {
    .form-group {
        margin-bottom: 1rem;
    }
}

#unavailable, #selectFirst {
    display: none;
}

/* Loader Overlay */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure it's on top of everything else */
    display: none; /* Hidden by default */
}

/* Spinner Animation */
.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* CSS class to disable scrolling */
.no-scroll {
    overflow: hidden;
}

/* Progress Message */
.loader-overlay .progress-message {
    color: #fff; /* White text color for contrast */
    margin-top: 20px;
    font-size: 16px;
}

.loading-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1); /* Light golden semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it covers other content */
}

.spinner-container1 {
    text-align: center; /* Center the spinners and text */
}

.loading-message1 {
    margin-top: 15px; /* Space between spinner and message */
    font-size: 2rem; /* Larger font size for visibility */
    color: #856404; /* Dark golden color for text */
}

.spinner-grow {
    color: #FFC107; /* Golden color for the spinner */
}

#totalPerYearChart {
    width: 100% !important;
    height: 100% !important; 
}

.crop-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* Adjust width */
    cursor: help; /* Change cursor to pointer */
    outline: none; /* Remove default focus outline */
}

.crop-cell:hover  {
    background-color: #d7d9e0; /* Light blue background on hover */
}

.btn-custom:hover, .btn-green:hover {
    background-color: var(--color-secondary) !important;
}

/* Default for all screens */
.form-spacing {
    margin-top: 3rem; /* Adjust this for larger screens */
}

/* For smaller screens */
@media (max-width: 767.98px) {
    .form-spacing {
        margin-top: 0; /* No margin on small screens */
    }
}


main.main-content {
  max-width: 1500px;
  align-self: center;
}