@import url('./bookman-old-style.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --font-size-base: 16px; /* Default Base font size */
    --font-size-small: calc(var(--font-size-base) / 1.333); /* Small */
    --font-size-medium: calc(var(--font-size-base) * 1.333); /* Medium */
    --font-size-large: calc(var(--font-size-medium) * 1.333); /* Large */
    --font-size-xlarge: calc(var(--font-size-large) * 1.333); /* Extra Large */
    --color-text: #1f2b15; /* Text color */
    --color-background: #fffff6; /* Background color */
    --color-primary: #008d00; /* Primary color */
    --color-secondary: #baa863; /* Secondary color */
    --color-accent: #e0de6d; /* Accent color */
    --color-card: #dbf4cd;
}

/* Small screens (phones) */
@media (max-width: 480px) {
    :root {
        --font-size-base: 12px;
    }

    .btn-custom:not(.btn-contact) {
        width: 100% !important;
    }

    .btn-custom[href="/seasonal-trends"], 
    .btn-custom[href="/top-crops"] {
        width: 80% !important;
        margin-bottom: 2rem !important;
    }    

    #pageTitle h2 {
        font-size: calc(var(--font-size-base) * 2);
    }

    .btn {
        margin: 0 !important;
        font-size: var(--font-size-base) !important;
    }

    #interpretation {
        margin: 0 !important;
    }

    .cont {
        margin: 0 !important;
        margin-top: 2rem !important;
    }

    .s-trend, .y-trend {
        height: 300px !important;
    }
}

/* Medium screens (tablets) */
@media (min-width: 481px) and (max-width: 768px) {
    :root {
        --font-size-base: 13px;
    }

    .btn-custom:not(.btn-contact) {
        width: 100% !important;
    }

    .btn-custom[href="/seasonal-trends"], 
    .btn-custom[href="/top-crops"] {
        width: 80% !important;
        margin-bottom: 2rem !important;
    }    

    .btn {
        margin: 0 !important;
        font-size: var(--font-size-base) !important;
    }

    #interpretation {
        margin: 0 !important;
    }

    .cont {
        margin: 0 !important;
        margin-top: 2rem !important;
    }
}

/* Large screens (desktops) */
@media (min-width: 769px) {
    :root {
        --font-size-base: 14px;
    }

    .btn-custom:not(.btn-contact) {
        width: 30% !important;
    }
}

/* Extra-large screens (large desktops) */
@media (min-width: 1200px) {
    :root {
        --font-size-base: 16px;
    }
}

body {
    font-size: var(--font-size-base);
    line-height: 1.5; /* Adjust line height for readability */
}

.small {
    font-size: var(--font-size-small);
}

.medium-s {
    font-size: var(--font-size-medium);
}

.large {
    font-size: var(--font-size-large);
}

.xlarge {
    font-size: var(--font-size-xlarge);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-text);
}

/* Custom styles */
.header {
    background-color: #008000; /* Dark green background color */
    color: white; /* Text color */
    padding: 5px 10px; /* Padding around content */
}
.header-logo {
    height: 60px; /* Adjust logo height */
}

#appName {
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.container-fluid {
    height: 100%;
}

.nav-link {
    color: white; /* Link text color */
    line-height: 0.5rem;
    align-self: center;
    padding: 4px 8px; /* Padding top and bottom only */
    line-height: 30px; /* Adjust this to match the height of your nav links */
}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    bottom: 0;
    background-color: #fff9c1;
    transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.logout {
    margin-top: 30vh;
    padding-left: 5px;
}

.bg-success {
    background-color: var(--color-secondary) !important;
    border-color: transparent;
}

.form-select {
    padding: 3px;
    background-color: var(--color-primary);
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

select {
    height: 2.3rem !important;
}

.btn-custom {
    padding: 10px;
    margin: 0 10px;
    background-color: var(--color-primary) !important;
    border-radius: 3px;
    color: white;
    font-weight: 600;
}


.btn-green {
    background-color: var(--color-accent);
    color: var(--color-text) !important;
    font-weight: 600;
}

.table-custom tbody tr:nth-child(odd) {
    background-color: #D6DEE9;
  }
  
.table-custom tbody tr:nth-child(even) {
    background-color: #A7BEE0;
 }

 .tablesorter-bootstrap th {
    background-color: #2774E9 !important;
    color: white !important;
  }
  
/* Styles for footer */
.footer-container {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    background-color: #008000; /* Light background color */
    padding: 10px 0;
    text-align: center;
}

#pageTitle {
    background-color: var(--color-primary);
    font-weight: bolder;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#infoBtn {
    background-color: var(--color-accent) !important;
    border-color: var(--color-accent);
}

/* Add spacing between sections */
section {
    margin-bottom: 40px; /* Adjust spacing as needed */
}

img {
    cursor: pointer;
}

h2 {
    font-weight: bolder;
}

.form-control:not(input[type="text"]):not(textarea):not(input[type="file"]) {
    padding-left: 20px;
    background-color: var(--color-primary) !important;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}
/* Customize the background color of the selected items */
.custom-select {
    padding-left: 20px;
    background-color: #B1BA4D;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.nav-item.active {
    background-color: var(--color-accent); /* Light green background */
    border-radius: 5px; /* Adjust the value to change the roundness */
    line-height: 30px; /* Adjust this to match the height of your nav links */
}

.active .nav-link {
    color: var(--color-text) !important;
    font-weight: 500;
}

.toast-success-custom {
    background-color: #2774E9; /* Green color for success */
    color: #ffffff; /* White text color */
}

.toast-error-custom {
    background-color: #dc3545; /* Red color for error */
    color: #ffffff; /* White text color */
}

.toast-info-custom {
    background-color: #17a2b8; /* Blue color for info */
    color: #ffffff; /* White text color */
}

.toast-warning-custom {
    background-color: #ffc107; /* Yellow color for warning */
    color: #000000; /* Black text color */
}

#downloadBtn, #unavailable, #selectFirst {
    display: none;
}

#cropsTable {
    border-radius: 0.5rem;
    overflow: hidden;
  }
  #cropsTable th, #cropsTable td {
    vertical-align: middle;
  }
  .table-hover tbody tr:hover {
    background-color: #f1f1f1; /* Light gray on hover */
  }

  .table th {
    background-color: var(--color-secondary) !important; /* Custom header background */
    color: #000 !important; /* Header text color */
  }
  .btn {
    margin: 0 5px; /* Spacing between buttons */
  }
  .table-responsive {
    margin-top: 20px; /* Spacing above the table */
  }

#seasonalTrendChart,
#totalPerYearChart,
#vegetablesChart,
#riceChart,
#fruitsChart {
    width: 100% !important;
    height: 100% !important; 
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1); /* Light golden semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it covers other content */
}

.spinner-container {
    text-align: center; /* Center the spinners and text */
}

.loading-message {
    margin-top: 15px; /* Space between spinner and message */
    font-size: var(--font-size-large);
    color: #856404; /* Dark golden color for text */
}

.spinner-grow {
    color: #FFC107; /* Golden color for the spinner */
}

/* Enable scroll snapping on the body or main container */
body {
    scroll-behavior: smooth; /* Smooth scrolling effect */
}

/* Each section will snap to the center when in proximity */
section {
    scroll-snap-align: center; /* Snap to the center of each section */
    margin-bottom: 40px; /* Adjust spacing as needed */
    padding-bottom: 20px;
}

/* Ensure the body and html are contained */
html, body {
    height: 100%; /* Ensure height is full */
    overflow: auto; /* Allow scrolling */
}



.highlighted-field {
    border: 2px solid #FFD700; /* Example: gold border */
}

#interpretation .card-title {
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis (...) to truncated text */
    max-width: 100%; /* Limit the width to the container */
}

.card-header {
    background-color: var(--color-secondary) !important;
}

.badge {
    background-color: var(--color-secondary) !important;
}

.card {
    margin-bottom: 3rem !important;
}

.wrapper {
    background-color: var(--color-card) !important;
}

#soil-health-page .container-fluid:not(#pageTitle) {
    background-color: var(--color-card) !important;
}

/* For the sticky header container */
/* Sticky header */
.header-container {
    position: sticky;
    top: 0;
    z-index: 9997;
    background-color: white;
    transition: top 0.3s ease; /* Smooth transition when hiding/showing */
}

/* For the scrollable container holding your content */
.main-content {
    scroll-snap-type: y proximity;
}

/* Hide the header when scrolling past 100px */
body.scrolled-down .header-container {
    top: -100px; /* Moves the header off-screen */
}

.view-btn:hover {
    background-color: var(--color-secondary) !important;
}

.navbar-collapse {
    transition: height 0.3s ease !important; /* Adjust duration as needed */
}

