<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>AgroConnect Cabuyao Website</title>
        <link
            href="https://fonts.cdnfonts.com/css/century-gothic"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Livvic:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.bootstrap_4.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/home.css" />
        <link rel="preload" href="components/Header.js" as="script" />
    </head>
    <body>
        <header class="header-container">
            <!-- Your header content or component -->
        </header>

        <main class="main-content">
            <section>
                <div class="container-fluid mx-auto">
                    <div
                        class="row d-flex align-items-center justify-content-center"
                    >
                        <!-- Left Column -->
                        <div class="col-md-5 text-md-start">
                            <div
                                class="d-flex flex-column justify-content-center align-items-center align-items-md-start"
                            >
                                <span class="m-0 p-0" style="line-height: 0%"
                                    ><strong>Original & Natural</strong></span
                                >
                                <img
                                    width="150px"
                                    src="img/underline1.webp"
                                    alt="Underline"
                                    class="img-fluid m-0 p-0"
                                />
                            </div>
                            <div
                                class="d-flex align-items-center justify-content-center justify-content-md-start"
                            >
                                <h1
                                    id="header1"
                                    class="position-relative text-md-start"
                                >
                                    Masaganang Agricultura
                                    <img
                                        src="img/header1.webp"
                                        alt="Header Image"
                                        class="img-fluid position-absolute top-0 end-0"
                                        style="
                                            width: 50px;
                                            top: -1rem;
                                            right: -1rem;
                                        "
                                    />
                                </h1>
                            </div>
                            <h1 id="header2" class="text-md-start">
                                Maunlad na Ekonomiya
                            </h1>
                            <br />
                            <div class="paragraph text-md-start">
                                <p>
                                    AgroConnect Cabuyao is an agriculture
                                    information system designed to assist the
                                    City Agriculture Office in making informed
                                    decisions regarding crop selection and
                                    planting.
                                </p>
                                <p>
                                    It serves as a comprehensive tool for
                                    storing, analyzing, and generating data to
                                    identify trends and optimal crops for each
                                    season. By leveraging data-driven insights,
                                    it empowers officials to conduct in-depth
                                    analysis considering various factors.
                                </p>
                                <p>
                                    Additionally, the system incorporates
                                    features like soil health monitoring and
                                    weather forecasting to enhance crop
                                    management practices. Furthermore, it
                                    provides a feedback mechanism allowing
                                    agriculturists and other stakeholders to
                                    share suggestions and concerns.
                                </p>
                            </div>
                        </div>
                        <!-- Right Column -->
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="image-container">
                                <img
                                    src="img/CAO-1.webp"
                                    alt="Cabuyao Agriculture Office"
                                    class="img-fluid"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <div
                        class="row d-flex align-items-center justify-content-center"
                    >
                        <!-- Left Column -->
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-body d-flex">
                                    <div class="features-list">
                                        <h4>
                                            <em
                                                ><strong
                                                    >Key Features:</strong
                                                ></em
                                            >
                                        </h4>
                                        <ul class="fa-ul mt-5">
                                            <li>
                                                <span class="fa-li"
                                                    ><i
                                                        class="far fa-check-square"
                                                    ></i></span
                                                ><strong
                                                    >Seasonal Trends</strong
                                                >
                                            </li>
                                            <li class="mt-2">
                                                <span class="fa-li"
                                                    ><i
                                                        class="far fa-check-square"
                                                    ></i></span
                                                ><strong
                                                    >Seasonal Top Crops</strong
                                                >
                                            </li>
                                            <li class="mt-2">
                                                <span class="fa-li"
                                                    ><i
                                                        class="far fa-check-square"
                                                    ></i></span
                                                ><strong
                                                    >Soil Health
                                                    Monitoring</strong
                                                >
                                            </li>
                                            <li class="mt-2">
                                                <span class="fa-li"
                                                    ><i
                                                        class="far fa-check-square"
                                                    ></i></span
                                                ><strong
                                                    >Weather Forecast</strong
                                                >
                                            </li>
                                            <li class="mt-2">
                                                <span class="fa-li"
                                                    ><i
                                                        class="far fa-check-square"
                                                    ></i></span
                                                ><strong
                                                    >Geospatial Map
                                                    Trends</strong
                                                >
                                            </li>
                                            <li class="mt-2">
                                                <span class="fa-li"
                                                    ><i
                                                        class="far fa-check-square"
                                                    ></i></span
                                                ><strong>Feedback</strong>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Spacer Column -->
                        <div class="col-md-1 d-none d-md-block"></div>
                        <!-- Right Column -->
                        <div class="col-md-5 d-flex justify-content-center">
                            <div class="image-container">
                                <img
                                    width="80%"
                                    src="img/logo.webp"
                                    alt="Placeholder Image"
                                    class="img-fluid"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid mt-4">
                    <div class="row m-2">
                        <div class="col-md-12 d-flex align-items-stretch">
                            <div class="card w-100">
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Seasonal Trends Section -->
                                        <div
                                            class="col-md-6 d-flex flex-column justify-content-center align-items-center mt-5"
                                        >
                                            <h4 class="card-title text-center">
                                                <em>Seasonal Trends</em>
                                            </h4>
                                            <img
                                                src="img/seasonaltrends.webp"
                                                alt="Seasonal Trends"
                                                class="img-fluid mb-3"
                                            /><br />
                                            <div class="paragraph mx-5">
                                                <p>
                                                    This feature analyzes trends
                                                    such as crop yield
                                                    performance, pest and
                                                    disease occurrence, crop
                                                    prices, production volume,
                                                    cost volume, sales volume,
                                                    and income from prices.
                                                </p>
                                            </div>
                                            <a
                                                href="/seasonal-trends"
                                                class="btn btn-custom mt-3 mb-5"
                                                >View More</a
                                            >
                                        </div>
                                        <!-- Seasonal Top Crops Section -->
                                        <div
                                            class="col-md-6 d-flex flex-column justify-content-center align-items-center"
                                        >
                                            <h4 class="card-title text-center">
                                                <em>Seasonal Top Crops</em>
                                            </h4>
                                            <div class="paragraph mx-3">
                                                <p>
                                                    This feature identifies
                                                    appropriate crops with
                                                    favorable value by analyzing
                                                    data from past seasons.
                                                </p>
                                            </div>
                                            <a
                                                href="/top-crops"
                                                class="btn btn-custom mt-3 mb-5"
                                                >View More</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-4">
                                <h2>
                                    <strong
                                        ><em>Soil Health Monitoring</em></strong
                                    >
                                </h2>
                                <br />
                                <p>
                                    This feature empowers agriculturalists to
                                    oversee soil nutrient levels and pH for
                                    farmers, allowing them to provide feedback
                                    and suggestions for ongoing soil health
                                    monitoring.
                                </p>
                                <div class="card w-100 p-5">
                                    <div class="card-body">
                                        <ul class="ml-4">
                                            <h4 class="card-title">
                                                <em
                                                    >Summary of Soil Health in
                                                    Cabuyao, Laguna:</em
                                                >
                                            </h4>
                                            <li>
                                                pH Level: Measures the acidity
                                                or alkalinity of the soil.
                                            </li>
                                            <li>
                                                Nitrogen Content: Amount of
                                                nitrogen present in the soil,
                                                crucial for plant growth.
                                            </li>
                                            <li>
                                                Phosphorus Content: Essential
                                                nutrient for root development
                                                and overall plant health.
                                            </li>
                                            <li>
                                                Potassium Content: Important for
                                                regulating water use and
                                                improving disease resistance.
                                            </li>
                                            <li>
                                                Organic Matter: Indicator of
                                                soil fertility and health.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a
                                    href="/soil-health"
                                    class="btn btn-custom mt-4"
                                    >View More</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-4">
                                <h2>
                                    <strong><em>Weather Forecast</em></strong>
                                </h2>
                                <br />
                                <p>
                                    Features include weather forecasts for
                                    specific areas, aiding farmers in planning
                                    and managing their agricultural activities
                                    based on upcoming weather conditions.
                                </p>
                                <div class="card w-100 p-5">
                                    <div class="card-body">
                                        <ul class="ml-4">
                                            <h4 class="card-title">
                                                <em>Key Weather Metrics:</em>
                                            </h4>
                                            <li>
                                                Temperature: Provides current
                                                and forecasted temperatures for
                                                effective planning.
                                            </li>
                                            <li>
                                                Precipitation: Insights into
                                                rainfall patterns to help manage
                                                irrigation and crop protection.
                                            </li>
                                            <li>
                                                Humidity: Assists in monitoring
                                                conditions that affect crop
                                                health and pest prevalence.
                                            </li>
                                            <li>
                                                Wind Speed: Information on wind
                                                conditions relevant for planting
                                                and harvesting decisions.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a
                                    href="/weather-forecast"
                                    class="btn btn-custom mt-4"
                                    >View More</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-4">
                                <h2>
                                    <strong
                                        ><em>Geospatial Map Trends</em></strong
                                    >
                                </h2>
                                <br />
                                <p>
                                    This feature offers a comprehensive map view
                                    displaying various geospatial trends,
                                    allowing for detailed analysis of land use,
                                    crop distribution, and environmental
                                    factors.
                                </p>
                                <div class="card w-100 p-5">
                                    <div class="card-body">
                                        <ul class="ml-4">
                                            <h4 class="card-title">
                                                <em>Map Trends Overview:</em>
                                            </h4>
                                            <li>
                                                Land Use Patterns: Visual
                                                representation of land
                                                utilization across different
                                                regions.
                                            </li>
                                            <li>
                                                Crop Distribution: Insights into
                                                where different crops are grown
                                                and their yields.
                                            </li>
                                            <li>
                                                Environmental Factors: Analysis
                                                of factors like soil health,
                                                water availability, and climate
                                                impacts.
                                            </li>
                                            <li>
                                                Historical Data: Trends over
                                                time to track changes and inform
                                                future decisions.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a
                                    href="/map-trends"
                                    class="btn btn-custom mt-4"
                                    >View More</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-4">
                                <h2>
                                    <strong><em>Feedback</em></strong>
                                </h2>
                                <br />
                                <p>
                                    The feedback feature allows users to submit
                                    their insights and suggestions for
                                    continuous improvement of the AgroConnect
                                    system. It encourages communication and
                                    engagement between users and the development
                                    team.
                                </p>
                                <div class="card w-100 p-5">
                                    <div class="card-body">
                                        <ul class="ml-4">
                                            <h4 class="card-title">
                                                <em>Feedback Features:</em>
                                            </h4>
                                            <li>
                                                Submit Feedback: Easy-to-use
                                                form for users to provide their
                                                comments and suggestions.
                                            </li>
                                            <li>
                                                Track Feedback: View the status
                                                of submitted feedback and any
                                                responses.
                                            </li>
                                            <li>
                                                Engage with Users: Facilitate
                                                ongoing communication between
                                                the AgroConnect team and its
                                                users.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a
                                    href="/contact-us"
                                    class="btn btn-custom mt-4"
                                    >Give Feedback</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer-container">
            <!-- Your footer content or component -->
        </footer>

        <!-- Ensure jQuery is included first -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/widgets/widget-storage.min.js"></script>
        <script src="components/Header.js"></script>
        <script type="module" src="components/Footer.js"></script>
    </body>
</html>
