@font-face {
    font-family: 'Bookman Old Style';
    src: url('../assets/font/bookman-old-style/Bookman Old Style Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bookman Old Style';
    src: url('../assets/font/bookman-old-style/Bookman Old Style Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bookman Old Style';
    src: url('../assets/font/bookman-old-style/Bookman Old Style Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bookman Old Style';
    src: url('../assets/font/bookman-old-style/Bookman Old Style Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
