.card {
    background-color: #BFD8AF; /* Light green */
    margin-bottom: 20px;
    border-radius: 40px;
    border: 1px solid #555;
    height: 100%; /* Ensure both cards are the same height */
}
.sub-card {
    background-color: white;
    padding: 40px 20px;
    margin: 20px 10px;
    border-radius: 50px;
}
.card img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.btn-custom {
    background-color: #008000; /* Green background */
    color: white; /* White text */
    border-radius: 25px; /* Circular shape */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 1); /* Shadow effect */
    border: none; /* No border */
    width: 20%; /* Full width */
    font-size: 15px; /* Adjust font size */
    font-weight: bold;
    display: block; /* Ensure block level display */
    margin: 0 auto; /* Center horizontally */
}

h4 {
    font-weight: bolder;
}

#header1 {
    color: #F7C35F;
    font-weight: bolder;
    font-family: 'Livvic', sans-serif;
}

#header2 {
    font-weight: bolder;
    font-family: 'Livvic', sans-serif;
}

.paragraph {
    font-style: italic;
    text-align: justify;
}

/* Center align the entire row */
.row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Adjust column alignment on smaller screens */
  .col-md-5, .col-md-6 {
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .col-md-5, .col-md-6 {
      text-align: left;
    }
  }
  
  
  /* Adjust the card content to center align */
  .card-body {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .features-list {
    padding: 50px 0;
    margin: 0;
  }
  
  /* Hide the spacer column on smaller screens */
  .d-none.d-md-block {
    display: none;
  }
  
  /* Ensure proper spacing for list items */
  .fa-ul {
    list-style: none;
    padding-left: 0;
  }
  
  .fa-li {
    margin-right: 0.5em;
  }

  .card {
    background-color: #dbf4cd !important;
    border-width: 0.2rem;
  }
  

  .main-content {
    background-color: #f5f5f5 !important;
  }